{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS</title>

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="mainHead">College Management System</h1>

      <div class="addClassCard">
        <form method="post">
          {% csrf_token %}
          
            {{form.as_p}}
          
         
          <button type="submit" class="btn btn-primary">Add Class</button>
          <button class="btn btn-danger"><a href="/index">Go Back</a></button>
        </form>
      </div>
    </div>
  </body>
</html>
