{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS</title>

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="mainHead">College Management System</h1>

      <div class="loginCard">
        {% for i in messages %}
        <p>{{ i }}</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
          <label for="firstname">Firstname</label>
          <input type="text" name="firstname" id="firstname" />
          <label for="lastname">Lastname</label>
          <input type="text" name="lastname" id="lastname" /><br />
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
          <label for="email">Email</label>
          <input type="email" name="email" id="email" /><br />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <label for="cpassword">Confirm Password</label>
          <input type="password" name="cpassword" id="cpassword" /><br />
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <p>Already a User? <a href="login">Login</a></p>
      </div>
    </div>
  </body>
</html>
